<a href="https://colab.research.google.com/github/nurindahfidiawati/Datamining/blob/master/iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [ ]:

# import modul
df = pd.read_csv("iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:

#drop hilangkan
# df.drop(['sepal_length', 'sepal_width'],axis='columns',inplace=True)
# df.head()

# df.drop(['sepal_length', 'petal_width'],axis='columns',inplace=True)
# df.head()

df.drop(['sepal_width', 'petal_width'],axis='columns',inplace=True)
df.head()

# df.drop(['petal_length', 'petal_width'],axis='columns',inplace=True)
# df.head()

   sepal_length  petal_length variety
0           5.1           1.4  Setosa
1           4.9           1.4  Setosa
2           4.7           1.3  Setosa
3           4.6           1.5  Setosa
4           5.0           1.4  Setosa

In [ ]:


#pisahkan atribut dengan class
var = df.drop('variety',axis='columns')
# drop class
iris = df.variety
# tampung class

In [ ]:


var.head()
#tampilkan atribut

   sepal_length  petal_length
0           5.1           1.4
1           4.9           1.4
2           4.7           1.3
3           4.6           1.5
4           5.0           1.4

In [ ]:


#tampilkan class
# iris = df.variety
iris.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [ ]:


#cek variabel terdapat yag null / kosong ?
var.columns[var.isna().any()]

Index([], dtype='object')

In [ ]:



#training set dan testing set
#cek random state dengan perbandingan 0,2 / 100 / 20%
# X_train, X_test, y_train, y_test = train_test_split(var,iris,test_size=0.2, random_state = 100)


#cek random state dengan perbandingan 0,3 / 100 / 30%
#X_train, X_test, y_train, y_test = train_test_split(var,iris,test_size=0.3, random_state = 100)


#cek random state  dengan perbandingan 0,4 / 100 / 40%
X_train, X_test, y_train, y_test = train_test_split(var,iris,test_size=0.4, random_state = 100)

In [ ]:



# hitung akurasinya
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9666666666666667

In [ ]:


# test atribut acak dengan jumlah sebanyak 10 dari var x_test
X_test[0:10]

     sepal_length  petal_length
128           6.4           5.6
11            4.8           1.6
118           7.7           6.9
15            5.7           1.5
123           6.3           4.9
135           7.7           6.1
32            5.2           1.5
1             4.9           1.4
116           6.5           5.5
45            4.8           1.4

In [ ]:



# test jenis class dari atribut yang digunakan sebelumnya
y_test[0:10]

128    Virginica
11        Setosa
118    Virginica
15        Setosa
123    Virginica
135    Virginica
32        Setosa
1         Setosa
116    Virginica
45        Setosa
Name: variety, dtype: object

In [ ]:

# mencetak model prediksi dari variabel X_Test dengan parameter var dan iris
model.predict(X_test[0:10])

array(['Virginica', 'Setosa', 'Virginica', 'Setosa', 'Virginica',
       'Virginica', 'Setosa', 'Setosa', 'Virginica', 'Setosa'],
      dtype='<U10')

In [ ]:


#cetak nilai probabilitas dari variety 
# hasil yang paling besar digunakan sebagai prediksi
model.predict_proba(X_test[:10])

array([[7.66320268e-099, 2.78111076e-002, 9.72188892e-001],
       [9.99999915e-001, 8.53152939e-008, 9.38118651e-017],
       [4.91240881e-173, 6.57609799e-006, 9.99993424e-001],
       [9.99999158e-001, 8.41683326e-007, 1.34262352e-015],
       [8.79498228e-069, 4.98108109e-001, 5.01891891e-001],
       [1.73083123e-129, 2.04439575e-004, 9.99795560e-001],
       [9.99999914e-001, 8.55164924e-008, 7.39058734e-017],
       [9.99999989e-001, 1.07582954e-008, 3.59567568e-018],
       [1.08085996e-094, 3.70453875e-002, 9.62954612e-001],
       [9.99999992e-001, 8.16463011e-009, 2.48907252e-018]])