<a href="https://colab.research.google.com/github/nurindahfidiawati/Datamining/blob/master/iris_All_Atribut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 7 datamining
Na√Øve bayes classification

Algoritma Naive Bayes merupakan sebuah metoda klasifikasi menggunakan metode probabilitas dan statistik

In [ ]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [ ]:
# import file
df = pd.read_csv("iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
#pisahkan atribut dengan class
var = df.drop('variety',axis='columns')
# drop class
iris = df.variety
# tampung class

In [ ]:
var.head()
#tampilkan atribut

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
# tampilkan class
# iris = df.variety
iris.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [ ]:
#cek variabel terdapat yag null / kosong ?
var.columns[var.isna().any()]

Index([], dtype='object')

In [ ]:
#training set dan testing set
#cek random state ya dengan perbandingan 0,2 / 100 / 20%
# X_train, X_test, y_train, y_test = train_test_split(var,iris,test_size=0.2, random_state = 100)


#cek random state ya dengan perbandingan 0,3 / 100 / 30%
X_train, X_test, y_train, y_test = train_test_split(var,iris,test_size=0.3, random_state = 100)


#cek random state ya dengan perbandingan 0,4 / 100 / 40%
#X_train, X_test, y_train, y_test = train_test_split(var,iris,test_size=0.4, random_state = 100)

In [ ]:
# hitung akurasinya
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9555555555555556

In [ ]:
# test atribut acak dengan jumlah sebanyak 10 dari var x_test
X_test[0:10]

     sepal_length  sepal_width  petal_length  petal_width
128           6.4          2.8           5.6          2.1
11            4.8          3.4           1.6          0.2
118           7.7          2.6           6.9          2.3
15            5.7          4.4           1.5          0.4
123           6.3          2.7           4.9          1.8
135           7.7          3.0           6.1          2.3
32            5.2          4.1           1.5          0.1
1             4.9          3.0           1.4          0.2
116           6.5          3.0           5.5          1.8
45            4.8          3.0           1.4          0.3

In [ ]:
# test jenis class dari atribut yang digunakan sebelumnya
y_test[0:10]

128    Virginica
11        Setosa
118    Virginica
15        Setosa
123    Virginica
135    Virginica
32        Setosa
1         Setosa
116    Virginica
45        Setosa
Name: variety, dtype: object

In [ ]:
# mencetak model prediksi dari variabel X_Test dengan parameter var dan iris
model.predict(X_test[0:10])

array(['Virginica', 'Setosa', 'Virginica', 'Setosa', 'Virginica',
       'Virginica', 'Setosa', 'Setosa', 'Virginica', 'Setosa'],
      dtype='<U10')

In [ ]:
#cetak nilai probabilitas dari variety 
# hasil yang paling besar digunakan sebagai prediksi
model.predict_proba(X_test[:10])

array([[2.13015051e-175, 1.86497502e-005, 9.99981350e-001],
       [1.00000000e+000, 3.74233639e-017, 4.89380835e-025],
       [5.87778931e-272, 8.59481889e-012, 1.00000000e+000],
       [1.00000000e+000, 6.00798574e-016, 4.47425443e-023],
       [1.55521820e-122, 1.38114594e-001, 8.61885406e-001],
       [1.89744198e-224, 4.18928146e-010, 1.00000000e+000],
       [1.00000000e+000, 3.68810532e-020, 3.89435343e-027],
       [1.00000000e+000, 5.37208969e-017, 1.86327339e-025],
       [8.44043044e-150, 2.86193107e-003, 9.97138069e-001],
       [1.00000000e+000, 8.32968872e-016, 1.70179704e-024]])