<a href="https://colab.research.google.com/github/nurindahfidiawati/Datamining/blob/master/modul3_datamining_panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

1.	Masukkan iris.csv ke dataframe

In [ ]:
df = pd.read_csv('iris.csv')
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

2.	Normalisasikan setiap attribut iris ke dataframe menggunakan normalisasi min max sehingga setiap nilai attribut memiliki range 0 – 1. Vbaru = (Vlama - Vmin) / (Vmax - Vmin). Vbaru = nilai data di suatu sel setelah normalisasi, Vlama = nilai data asli sebelum normalisasi, Vmax = nilai max dari kolom data tersebut, Vmin = nilai min dari kolom data tersebut

In [ ]:
def normalisasi(atribut):
  return (df[atribut] - df[atribut].min()) / (df[atribut].max() - df[atribut].min())

In [ ]:
df["sepal.length"] = normalisasi("sepal.length")
df["sepal.width"] = normalisasi("sepal.width")
df["petal.length"] = normalisasi("petal.length")
df["petal.width"] = normalisasi("petal.width")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0        0.222222     0.625000      0.067797     0.041667     Setosa
1        0.166667     0.416667      0.067797     0.041667     Setosa
2        0.111111     0.500000      0.050847     0.041667     Setosa
3        0.083333     0.458333      0.084746     0.041667     Setosa
4        0.194444     0.666667      0.067797     0.041667     Setosa
..            ...          ...           ...          ...        ...
145      0.666667     0.416667      0.711864     0.916667  Virginica
146      0.555556     0.208333      0.677966     0.750000  Virginica
147      0.611111     0.416667      0.711864     0.791667  Virginica
148      0.527778     0.583333      0.745763     0.916667  Virginica
149      0.444444     0.416667      0.694915     0.708333  Virginica

[150 rows x 5 columns]

3.	Cari centroid dari data yang telah dinormalisasi. Centroid dihitung dari rata2 seluruh data suatu kolom

In [ ]:
cen_setosa = df.loc[df['variety'] == 'Setosa'].mean()
cen_versicolor = df.loc[df['variety'] == 'Versicolor'].mean()
cen_virginica = df.loc[df['variety'] == 'Virginica'].mean()

print("Centroid Setosa:\n{} \nCentroid Versicolor:\n{} \nCentroid Virginica:\n{}".format(cen_setosa, cen_versicolor, cen_virginica))

Centroid Setosa:
sepal.length    0.196111
sepal.width     0.595000
petal.length    0.078305
petal.width     0.060833
dtype: float64
Centroid Versicolor:
sepal.length    0.454444
sepal.width     0.320833
petal.length    0.552542
petal.width     0.510833
dtype: float64
Centroid Virginica:
sepal.length    0.635556
sepal.width     0.405833
petal.length    0.771525
petal.width     0.802500
dtype: float64

4.	Masukkan iristesting.csv ke dataframe. Normalisasikan iristesting.csv menggunakan vmin dan vmax pada data 1

In [ ]:
dftesting = pd.read_csv('iristesting.csv')
dftesting

    sepal.length  sepal.width  petal.length  petal.width     variety
0            5.0          3.5           1.3          0.3      Setosa
1            4.5          2.3           1.3          0.3      Setosa
2            4.4          3.2           1.3          0.2      Setosa
3            5.0          3.5           1.6          0.6      Setosa
4            5.1          3.8           1.9          0.4      Setosa
5            4.8          3.0           1.4          0.3      Setosa
6            5.1          3.8           1.6          0.2      Setosa
7            4.6          3.2           1.4          0.2      Setosa
8            5.3          3.7           1.5          0.2      Setosa
9            5.0          3.3           1.4          0.2      Setosa
10           5.5          2.6           4.4          1.2  Versicolor
11           6.1          3.0           4.6          1.4  Versicolor
12           5.8          2.6           4.0          1.2  Versicolor
13           5.0          2.3           3.3          1.0  Versicolor
14           5.6          2.7           4.2          1.3  Versicolor
15           5.7          3.0           4.2          1.2  Versicolor
16           5.7          2.9           4.2          1.3  Versicolor
17           6.2          2.9           4.3          1.3  Versicolor
18           5.1          2.5           3.0          1.1  Versicolor
19           5.7          2.8           4.1          1.3  Versicolor
20           6.7          3.1           5.6          2.4   Virginica
21           6.9          3.1           5.1          2.3   Virginica
22           5.8          2.7           5.1          1.9   Virginica
23           6.8          3.2           5.9          2.3   Virginica
24           6.7          3.3           5.7          2.5   Virginica
25           6.7          3.0           5.2          2.3   Virginica
26           6.3          2.5           5.0          1.9   Virginica
27           6.5          3.0           5.2          2.0   Virginica
28           6.2          3.4           5.4          2.3   Virginica
29           5.9          3.0           5.1          1.8   Virginica

In [ ]:
#Normalisasi

dftesting["sepal.length"] = (dftesting["sepal.length"] - dftesting["sepal.length"].min()) / (dftesting["sepal.length"].max() - dftesting["sepal.length"].min())
dftesting["sepal.width"] = (dftesting["sepal.width"] - dftesting["sepal.width"].min()) / (dftesting["sepal.width"].max() - dftesting["sepal.width"].min())
dftesting["petal.length"] = (dftesting["petal.length"] - dftesting["petal.length"].min()) / (dftesting["petal.length"].max() - dftesting["petal.length"].min())
dftesting["petal.width"] = (dftesting["petal.width"] - dftesting["petal.width"].min()) / (dftesting["petal.width"].max() - dftesting["petal.width"].min())
dftesting

    sepal.length  sepal.width  petal.length  petal.width     variety
0           0.24     0.800000      0.000000     0.043478      Setosa
1           0.04     0.000000      0.000000     0.043478      Setosa
2           0.00     0.600000      0.000000     0.000000      Setosa
3           0.24     0.800000      0.065217     0.173913      Setosa
4           0.28     1.000000      0.130435     0.086957      Setosa
5           0.16     0.466667      0.021739     0.043478      Setosa
6           0.28     1.000000      0.065217     0.000000      Setosa
7           0.08     0.600000      0.021739     0.000000      Setosa
8           0.36     0.933333      0.043478     0.000000      Setosa
9           0.24     0.666667      0.021739     0.000000      Setosa
10          0.44     0.200000      0.673913     0.434783  Versicolor
11          0.68     0.466667      0.717391     0.521739  Versicolor
12          0.56     0.200000      0.586957     0.434783  Versicolor
13          0.24     0.000000      0.434783     0.347826  Versicolor
14          0.48     0.266667      0.630435     0.478261  Versicolor
15          0.52     0.466667      0.630435     0.434783  Versicolor
16          0.52     0.400000      0.630435     0.478261  Versicolor
17          0.72     0.400000      0.652174     0.478261  Versicolor
18          0.28     0.133333      0.369565     0.391304  Versicolor
19          0.52     0.333333      0.608696     0.478261  Versicolor
20          0.92     0.533333      0.934783     0.956522   Virginica
21          1.00     0.533333      0.826087     0.913043   Virginica
22          0.56     0.266667      0.826087     0.739130   Virginica
23          0.96     0.600000      1.000000     0.913043   Virginica
24          0.92     0.666667      0.956522     1.000000   Virginica
25          0.92     0.466667      0.847826     0.913043   Virginica
26          0.76     0.133333      0.804348     0.739130   Virginica
27          0.84     0.466667      0.847826     0.782609   Virginica
28          0.72     0.733333      0.891304     0.913043   Virginica
29          0.60     0.466667      0.826087     0.695652   Virginica

5.	Prediksilah kelas data di iristesting.csv menggunakan kriteria kedekatan distance antara setiap data di iristesting.csv ke centroid masing2 class di iris. Gunakan euclidean distance

In [ ]:

import pandas as pd
import numpy as np
df = pd.read_csv('iris.csv')
dftesting = pd.read_csv('iristesting.csv')
attribut= ['sepal.length','sepal.width','petal.length','petal.width']

def normalisasi(atribut):
  return (df[atribut] - df[atribut].min()) / (df[atribut].max() - df[atribut].min())

df["sepal.length"] = normalisasi("sepal.length")
df["sepal.width"] = normalisasi("sepal.width")
df["petal.length"] = normalisasi("petal.length")
df["petal.width"] = normalisasi("petal.width")


dflama = pd.read_csv('iris.csv')

def normalisasi(atribut):
  return (dftesting[atribut] - dflama[atribut].min()) / (dflama[atribut].max() - dflama[atribut].min())

dftesting["sepal.length"] = normalisasi("sepal.length")
dftesting["sepal.width"] = normalisasi("sepal.width")
dftesting["petal.length"] = normalisasi("petal.length")
dftesting["petal.width"] = normalisasi("petal.width")


def euclidian(datake,dataframe):
  x=['Setosa','Versicolor','Virginica']
  b=[]
  hasil = None
  for i in x:
    kelas = df[df['variety'] == i]
    centroid = kelas.mean()
    test = dataframe.iloc[datake,0:4]
    a = ((centroid[0]-test[0])**2+(centroid[1]-test[1])**2+(centroid[2]-test[2])**2+(centroid[3]-test[3])**2)*1/2
    b.append(a)
  if (min(b)== b[0]):
    hasil = ('Setosa')
    return hasil
  elif (min(b)== b[1]):
    hasil = ('Versicolor')
    return hasil
  else :
     hasil =('Virginica')
     return hasil

temp =[]
for j in dftesting.index:
  temp.append(euclidian (j,dftesting))
print(dftesting['variety'] == temp)
print(dftesting['variety'])

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
Name: variety, dtype: bool
0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
5         Setosa
6         Setosa
7         Setosa
8         Setosa
9         Setosa
10    Versicolor
11    Versicolor
12    Versicolor
13    Versicolor
14    Versicolor
15    Versicolor
16    Versicolor
17    Versicolor
18    Versicolor
19    Versicolor
20     Virginica
21     Virginica
22     Virginica
23     Virginica
24     Virginica
25     Virginica
26     Virginica
27     Virginica
28     Virginica
29     Virginica
Name: variety, dtype: object

6.	Hitunglah berapa persen klasifikasi yang benar (akurasi) saat memprediksi class

In [ ]:

Benar = 0
Salah = 0
z = dftesting['variety']== temp

for x in dftesting.index:
  if z[x] == True :
    Benar +=1
  else:
    Salah = Salah+1
persen = (Benar/(Salah+Benar))*100
print (persen,"%")

100.0 %